@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

// Variables
$color-pink: rgb(255, 46, 99);
$color-dark: #1B1919;
$color-cream: #FEFEFE;

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.page-title {
  font-size: 1.3em;
  letter-spacing: 2px;
}

.line-full {
  width: 30px;
  height: 8px;
  background: $color-dark;
  margin-right: 5px;
  display: inline-block;
}

.line-empty {
  width: 30px;
  height: 8px;
  background: $color-cream;
  border: 1px solid $color-dark;
  margin-right: 5px;
  display: inline-block;
}